/* .thumbnail{
border: none!important;
padding:0!important;
} */
body{
	/* background: url(../img/profilePic1.jpg) no-repeat center center fixed; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover; */
/* 	
	background-size:contain;
	background-position: center left; */
}

@media (max-width: 480px){
	/* body{
		background-size:contain;
		background-position:center -280px!important;
	} */

	.profileImg{
		/* top:-500px!important;
		left: -120px!important; */
		display: none;
	}

	.profileSection{
		margin-top: 0px!important;
		/* position: fixed; */
	}
	.skills {
		margin: 15px 0 70px 0!important;
		border-top: 1px solid darkorange!important;
	}
	

}


@media (min-width: 480px) and (max-width: 768px){
	.profileImg{
		/* position: absolute!important;
		top:-200px!important;
		left: -300px!important;
		transform: scale(0.5)!important; */
		display:none;
	}

	.profileSection{
		margin-top: 0px!important;
		/* position: fixed; */
	}

	.skills {
		margin: 20px 0 70px 0!important;
		border-top: 1px solid darkorange;
	}
	
}

@media only screen and (min-width: 768px){
	.profileImg {
		transform: scale(0.55)!important;
		top:-340px; 
		left: -580px!important;
			
		}
}

@media only screen and (min-width: 992px){
	.profileImg {
		transform: scale(0.6)!important;
		top:-320px; 
		left: -620px!important;
	}

}


@media only screen and (min-width: 1200px){
	.profileImg {

		top:-320px; 
		left: -560px!important;
	}
}

/* =============== end media query ============ */
.profileImg {

		position: fixed;
		z-index: 0;

		/* top:-250px; 
		left: -200px; */
}


.profileSection{
	margin-top:0px;
	margin-left:0px;

}
.plus{
	color: #FF7D18;
}

.profileSection h2 {
	color: #FF7D18;
	letter-spacing: 0.2em;
}


.profileSection h4{
	margin-top: 30px;
	color: #FF7D18;
	letter-spacing: 0.1em;
	text-align: justify!important;
}

.profileDes hr {
	margin-left: 0!important;
	margin-top:25px;
	border: 0;
	border-top: 1px solid #FF7D18;
	/* width: 40px; */
}


.insideText{
	font-weight: 300;
	color: #4F4F4F;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0em;
	
}

/* ========== skills right side =========== */
.skills {
	margin: 5px 0 50px 0!important;
}

.skills hr {
	margin-left: 0!important;
	margin-top:15px;
	margin-bottom:11px;
	border: 0;
	border-top: 1px solid #FF7D18;
	width: 65px;
}

.skills h5 {
	margin-top: 25px;
	color: #FF7D18;
}

.skills li {
	list-style: none!important;
	font-size: 10px;
	font-weight: 200;
	line-height: 25px;
	margin-left: -40px;
	letter-spacing: 0.25em;
	color: #4F4F4F;
}



/*  ========= download button ================= */
#resumeBtn {
	margin-top:42px;
}

@media (max-width: 768px){
	#resumeBtn {
		margin-top:20px!important;
		margin-bottom:20px!important;
	}
}

.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
	transition: .5s;
	background-color: transparent;
	border: 1.25px solid #FF7D18;
	transform: scale(0.8);
	margin-left:-20px;
}
.btn-slide2:hover{
	border-bottom: 1.25px solid #FF7D18;
	border-image-source: linear-gradient(to right, #FF1F99, #FF7D18); 
	border-image-slice: 2;
}


.btn-slide2:hover {
    background-color: transparent;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;

}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}
.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 35px;
}

.btn-slide2 span.circle2 {
    display: block;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px 28px;
    line-height: 42px;
    top: 0;
    left: 0;
    transition: .5s;
	border-radius: 50%;
	color:#FF7D18;
	font-size: 16px;
}


.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
    position: absolute;
    margin: -1px auto;
    font-size: 20px;
    font-weight: bold;
	transition: .5s;
	color: #FF7D18;
	left: 65px;
	letter-spacing: 0.1em;
}


.btn-slide2 span.title-hover2 {
    left: 40px;
	opacity: 0;
	color: #FF7D18;
	background: linear-gradient(120deg, #FF1F99 , #FF7D18 70%); 
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0em;
}


/* .caption {
	padding:10 0!important;
	text-align: center;
	background-color: #FF7D18;
}

.caption > a {
	color:white!important;
	letter-spacing: 1.5em;
	padding-left: 20px;
}

.caption > a:hover, .caption > a:focus, .caption > a:active{
	text-decoration: none;
	cursor: pointer;
	color:#4F4F4F!important;
	letter-spacing: 1em;
	transition: all ease-in;
	
} */