body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/* background-image: url(../img/lotus2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center; 
	background-size: cover; */
	overflow-x: hidden!important;

}


/*--------HEADER SECTION----------*/

.navbar{
	z-index: 99;
}

img.logoImg{
	width: auto;
	height: 60px;
} 

.navbar-nav{
 margin-top: 20px!important;

}

.navbar-custom .navbar-nav > li > a {
		margin-left: 220px;
	}	

.navbar-toggle {
	margin-top:25px!important;
	border:none!important;
}

.navbar-custom a {
	padding-bottom: 5px;
	color: #FF7D18;
	text-shadow: none;
	
} 


.navbar-custom .navbar-nav a:hover {
	background: transparent!important;
	color: #4F4F4F;
	animation: pulse2 .3s 2;
}
.navbar-custom .navbar-nav > li > a.active{
	color: #FF1F99!important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
	background-color: transparent!important;
	color: #4F4F4F!important;
}


.navbar-nav>li>a {
	text-align: center;
	padding-bottom: 15px!important;

}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #FF7D18;

}

a:focus {
	outline: none!important;;
	box-shadow: none!important;
}



.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    border-color: #FF7D18;
}



/* ================== body section ================ */
/* vertical-centered text */
html, body {
	height: 100%;
	width: 100%;
	/* overflow-x: hidden; */
  }
.header{
	margin-top:-120px;
	margin-left: 15px;
	margin-right: 15px;
}
#header {
	background: url(../img/home4.jpg) no-repeat; 
	background-attachment: fixed;
	background-position: center bottom;
	/* display: table; */
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	/* display: table-cell;
	vertical-align: middle;
	margin-top:60px; */
	/* position: absolute; */
    /* top: 52%;
	transform: translate(0%,-50%) */
	margin-top: 180px;
}
.title h1 {
	text-transform: uppercase;
	font-weight: lighter;
	font-family:  serif;
	font-size: 60px;
	letter-spacing: 0.3em;
	color:#FF7D18;
	margin-top:50px;

}

.title p {
	color:#4F4F4F;
	letter-spacing: 0.1em;
}

.descript{
	text-align: right;
	margin-right: 10px;
	margin-top:60px;
}

.whoAmI {
	margin-top:130px;
	
}

.whoAmI p {
	color: #FF7D18;
}

.whoAmI hr{
	border-top: 1px solid #4F4F4F;
	width: 130px;
	float: left;
	margin-top:2px;
	margin-bottom: 0px!important;
}

.whoAmI h6{
	font-weight: 400;
	text-align: left;
	margin-top:0px;
	letter-spacing: 0.1em;
	color: #4F4F4F;
} 


.bio {
	padding: 10px 0px 20px 0px;
	background-color: #FF7D18;
	color: #fff;
	z-index: 99!important;

}

.bio h1{
	font-size:25px;
	font-weight: 200;
	z-index: 1;
	letter-spacing: 1em;
}

#about {
	margin-top:70px;
	z-index: -99;
}

.profileImg {
	margin-bottom:-350px;
	margin-top:-420px;
	margin-left:-550px;
	transform: scale(0.5);


}

.plus{
	color: #FF7D18;
}

.profileSec h2 {
	color: #FF7D18;
	letter-spacing: 0.2em;
}

.profileSec h4{
	font-size: 14px;
	margin-top: 20px;
	color: #FF7D18;
	letter-spacing: 0.1em;
	text-align: justify!important;
}

.profileSec hr {
	margin-left: 0!important;
	margin-top:25px;
	margin-bottom:60px;
	border: 0;
	border-top: 1px solid #FF7D18;
	width: 40px;
}

.insideText{
	font-weight: 300;
	color: #4F4F4F;
	font-size: 13px;
	line-height: 25px;
	letter-spacing: 0em;
	
}


/* ========== skills right side =========== */
.skills {
	margin: -10px 0 0px 0!important;
}

.skills hr {
	margin-left: 0!important;
	margin-top:15px;
	margin-bottom:11px;
	border: 0;
	border-top: 1px solid #FF7D18;
	width: 65px;
}

.skills h5 {
	margin-top: 40px;
	color: #FF7D18;
}

.skills li {
	list-style: none!important;
	font-size: 10px;
	font-weight: 200;
	line-height: 25px;
	margin-left: -40px;
	letter-spacing: 0.25em;
	color: #4F4F4F;
}


/*  ========= RESUME button ================= */
#resumeBtn {
	margin-top:70px;
}

@media (max-width: 768px){
	#resumeBtn {
		margin-top:20px!important;
		margin-bottom:20px!important;
	}
}

.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
	transition: .5s;
	background-color: transparent;
	border: 1.45px solid #FF7D18;
	transform: scale(0.8);
	margin-left:-20px;
}
.btn-slide2:hover{
	border-bottom: 1.25px solid #FF7D18;
	border-image-source: linear-gradient(to right, #FF1F99, #FF7D18); 
	border-image-slice: 2;
}


.btn-slide2:hover {
    background-color: transparent;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;

}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}
.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 35px;
}

.btn-slide2 span.circle2 {
    display: block;
    position: absolute;
    float: left;
    margin: 5px 28px;
    line-height: 42px;
    top: 0;
    left: 0;
    transition: .5s;
	border-radius: 50%;
	color:#FF7D18;
	font-size: 16px;
}


.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
    position: absolute;
    margin: -1px auto;
    font-size: 20px;
    font-weight: bold;
	transition: .5s;
	color: #FF7D18;
	left: 65px;
	letter-spacing: 0.1em;
}


.btn-slide2 span.title-hover2 {
    left: 40px;
	opacity: 0;
	color: #FF7D18;
	background: linear-gradient(120deg, #FF1F99 , #FF7D18 70%); 
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0em;
}




#threeD {
	background-color: #FF7D18;
	color: #fff;
	z-index: 99!important;
	padding: 10px 0px 20px 0px;
	/* margin-top:-350px; */

	
}

#threeD h2{
	font-weight: 300!important;
	letter-spacing: 0.2em;
	font-size: 25px;
}





/*-------------------Sticky footer styles------------------ */
/* html {
	position: relative;
	min-height: 100%;
}
  body {
	/* Margin bottom by footer height */
	/* margin-bottom: 40px; 

  } */
  .footer {
	/* margin-top:40px; */
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #FF7D18;
	z-index: 99;
  }
  
  .footer p{
	  color: #ffffff;
	  letter-spacing: 0.1em;
	  margin-top:14px!important;
	  font-weight: 400;
	  font-size:11px;
	  font-size:10px;
  
  }

  .glyphicon-chevron-up {
	  color:white;
	  margin-top: 12px;
	  font-weight: 100;
	  opacity: 0.2;
  }

  .socialIcon{
	text-align: right;
	margin-top: 10.5px;
  }

  .fa-instagram, .fa-github-alt, .fa-linkedin{
	color:#fff;
	
  }

  .fa:focus,  .fa:visited ,  .fa:active{
	  color:white;
  }

  .fa-instagram:hover, .fa-github-alt:hover, .fa-linkedin:hover{
	color: #4F4F4F;
	animation: pulse2 .3s 2;
  }

	@keyframes pulse {
	0% { transform: scale(1); }
	35% { transform: scale(1.4); }
	100% { transform: scale(1); }
  	}
  
	@keyframes pulse2 {
	0% { transform: scale(1); }
	35% { transform: scale(1.3); }
	100% { transform: scale(1); }
	}

	

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1366px){
	/* body{
		background-position:-120px bottom;
	} */

}
@media only screen and (max-width : 1200px) {
	.navbar-custom .navbar-nav > li > a {
		margin-left: 170px!important;
	}
	/* body{
		background-position: -90px bottom;
	} */
	
	#resumeBtn{
		margin-top:50px;
	}
	.profileSec h2{
		margin-top:0px;
	}

	.skills {
		margin-top:-25px!important;
	}
}

@media only screen and (max-width: 1024px) {
    #header {
        background-attachment: scroll;
    }
}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.navbar-custom .navbar-nav > li > a {
		margin-left: 100px!important;
	}

	/* body{
		background-position: -100px bottom;
	} */
	
	.profileSec h2{
		margin-top:-20px;
	}
	.profileSec hr{
		margin-bottom: 20px;
	}

	#resumeBtn{
		margin-top:30px;
	}

	.skills {
		margin-top:-50px!important;
	}
	
}
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/* body{
		background-position: 60px bottom;
	} */
	.navbar-collapse{
		background-color: #FF7D18;
		margin-top: 20px;
		opacity: 0.9;
	}
	.navbar-custom .navbar-nav > li > a {
		margin-left: 0px!important;
		color:white;
	}

	#header{
		background-position: -470px bottom!important;
	}
	.title{
		margin-top:170px;
	}

	.title h1{
		font-size: 45px;
		margin-top:40px;
	}

	.descript {
		text-align: left;
		margin-left:-15px;
		margin-top:60px;
	}

	.whoAmI{
		margin-top:60px;
		margin-left:-15px!important;
	
	}

	.whoAmI h6{
		margin-bottom:35px;
		
	}


	
	.profileSec, .skills {
		margin: 0px 30px!important;
	}
	
	#threeD h2{
		font-size: 22px;
		letter-spacing: 0.1em;
	}

	.bio h1 {
		letter-spacing: 0.3em!important;
	}

	.skills {
		margin: 0px 30px 60px 30px!important
	}


}
	
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	/* body{
		background-position: -500px bottom;
	} */
	≈{
		background-position: -700px bottom!important;
	}
	.title h1{
		font-size: 30px;
		letter-spacing: 0.15em;
		margin-top:35px;
	}
	.descript{margin-top:40px;}

	.bio h1 {
		letter-spacing: 0.3em!important;
		font-size: 22px;
	}

}
	
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}













/*-------------MEDIA QUERIES-------------*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

	
}


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

 
}


/* Small Devices, Tablets */	
@media only screen and (min-width: 768px) {
	/* .navbar-custom .navbar-nav > li > a {
		margin-left: 100px!important;
	} */


}


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	/* .navbar-custom .navbar-nav > li > a {
		margin-left: 170px!important;
	} */

}


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	/* .navbar-custom .navbar-nav > li > a {
		margin-left: 220px!important;
	}	 */
}
